
.product{
    width: 400px;
    height: 500px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product-info{
    margin: 50px 14px;
}
.product-info p{
    margin-bottom: 0;
    margin-top: 5px;
}
