
.heading{
    text-align: center;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.button{
    display: flex;
    justify-content: center;
}
.see-more-btn{
    padding: 10px 50px;
}