.container{
margin-left: 30px;
}
.text-image{
    display: flex;
    justify-content: space-between;
}
.text h1{
    text-align: center;
}
.image img{
    height: 400px;
    width: 400px;
    margin: 50px;
}